* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f2f2f2;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  padding: 10px 20px;
  color: white;
}

.navbar-left .logo {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.navbar-center #search-bar {
  padding: 6px 12px;
  border-radius: 20px;
  border: none;
  outline: none;
  width: 250px;
}

.navbar-right .icon {
  color: white;
  margin-left: 20px;
  font-size: 20px;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar-right .icon:hover {
  color: #ddd;
}
#containerBox{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
h2 {
    text-align: center;
    margin-top: 20px;
}
button{
    margin-top: 10px;
    background-color: rgb(234, 144, 126);
    padding: 5px;
    border-radius: 5px;
}
button:hover{
    background-color: rgb(8, 135, 46);
}

img {
    height: 350px;
    width: 400px;
    background-color: white;
     
}

main {
  margin-top: 15px;
  margin-bottom: 20px;
    height: 550px;
    width: 400px;
    background-color: rgb(227, 227, 227);
    text-align: center;
    box-shadow: 2px 2px 2px 1px rgb(31, 27, 27) ;
    
}
#pricebox{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
  #price span{
     color: green;
  }
  
}
#ratings{
  margin-top: 20px;
}
main:hover{
  transform: perspective(10px) translateZ(0.2px);
}